snippet jnl
---
`!v datetime#datetime()` $0
endsnippet

snippet fname
`!v fnamemodify(expand("%:t"), ":r")`
endsnippet

snippet fnamex
`!v expand("%:t")`
endsnippet

snippet filepath
`!v expand("%:p")`
endsnippet
