snippet ffm
---
title: ${1}
created: `!v datetime#timestamp()`
modified: `!v datetime#timestamp()`
tags: [${2}]
---

$0

---
vim: ft=markdown:
endsnippet

snippet link
[${1:title}](${2:link})
endsnippet
